xcshareddata
/IoG Infrastructure.xcodeproj/project.xcworkspace/xcuserdata/ecrichlow.xcuserdatad
/.build
/IoGInfrastructure.xcodeproj/xcuserdata/ecrichlow.xcuserdatad
/.swiftpm/xcode/xcuserdata/ecrichlow.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
